$font-family: 'Roboto', sans-serif;
$font-size: 16px;


/* Color ============= */

$white: #fff;
$magenta: #eb5757;
$black: #000;
$gray: #333;
$light-gray: #c4c4c4;


/* Core styles ============= */

body {
  font-family: $font-family;
  font-size: $font-size;
  min-width: 1070px;
}

h1,
h2 {
  font-size: 2rem;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin input-reset {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

.wrapper {
  margin: 4rem 4rem 3rem;
}

.on-main-page {
  position: relative;
}

.hidden {
  display: none;
}


/* Header styles ============= */

.logotype {
  background: url('../images/logo.png') no-repeat 0 0;
  position: absolute;
  height: 128px;
  width: 128px;
  left: -3rem;
  top: -1rem;
  z-index: 1;
  font-size: 0;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;

  .navigation-menu {
    background: url('../images/burger.png');
    font-size: 0;
    width: 32px;
    height: 26px;
    display: block;
    margin-right: 0.5rem;
  }
}


/* Form styles ============= */

.content-area__wrapper {
  height: calc(100vh - 9rem);
  padding-top: 2rem;

  .content-form {
    display: flex;
    border-radius: 3em 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;

    .content-form__inner {
      width: 50%;
      text-align: center;
    }
  }

  .content-form::after {
    content: 'Все поля обязательны для заполнения';
    position: absolute;
    right: -1.5rem;
    transform: rotate(90deg);
    height: 300px;
    color: $magenta;
    z-index: -1;
  }
}

.content-image {
  background-size: cover !important;
}

.content-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-form__title {
  margin: 17.5% 1em 0 1em;
  display: block;
  color: $white;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.125em;
}

.form-area {
  margin: 0 4rem 0 6rem;
  width: 100%;
  position: relative;

  input[type=text],
  input[type=password],
  input[type=tel],
  input[type=email],
  button {
    width: 100%;
    box-sizing: border-box;
  }
}


/* <!-- Custom button --> */

.custom-button {
  @include button-reset;
  height: 3.5rem;
  color: $white;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:focus {
  outline: none;
}

.custom-button::-moz-focus-inner {
  border: 0;
}

.arrow-button {
  width: 60px;
  margin-left: 0.6em;
  height: 1px;
  background: $black;
  display: flex;
  align-items: center;
}

.arrow-button::after {
  content: '';
  width: 6px;
  height: 6px;
  position: relative;
  left: 53px;
  transform: rotate(45deg);
  border-top: 1px solid $black;
  border-right: 1px solid $black;
}

.custom-input {
  @include input-reset;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1em;
  color: $gray;
  padding-left: 1em;
  margin-bottom: 2em;
}

.radio-section {
  margin: 0;
  display: flex;
  align-items: center;
  height: 4.5rem;
}

.negative-margin_top {
  margin-top: -2rem;
}


/* <!-- Radio Buttons Section --> */

.radio-form:checked,
.radio-form:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio-form:checked + label,
.radio-form:not(:checked) + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 26px;
    display: inline-block;
    color: $gray;
}

.radio-form:checked + label:before,
.radio-form:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $light-gray;
    border-radius: 100%;
    background:$light-gray;
}

.radio-form:checked + label:after,
.radio-form:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-form:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-form:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-form:not(:first-child) + label {
  margin-left: 4.5rem;
}


/* <!-- Agreement Section --> */

.agreement-section {
  display: flex;
  align-items: center;
  height: 3.5rem;
  font-size: 0.75rem;
  position: relative;

  input[type=checkbox] {
    display: none;
  }

  label {
    cursor: pointer;
    margin-left: 2rem;
  }

  label:before {
    content: '';
    height: 1rem;
    width: 1rem;
    position: absolute;
    background: $light-gray;
    left:0;
  }

  input[type=checkbox]:checked + label:before {
    content: "\2714";
    font-size: 1em;
    text-align: center;
  }
}






