/* Settings ============= */

$red: #e93a29;
$light-red: #f39b93;
$black: #000;
$white: #fff;

/* Core styles ============= */
.form-area__text {
  font-size: 1.5em;
  margin: 0;

  span {
    font-weight: 700;
  }

  span:after {
    content: '';
    display: block;
  }
}

.text-normal {
  font-size: 1em;
  margin: 0.5rem 0 2rem;
}

.custom-button_text {
  font-size: 1em;
  color: $black;
  height: 0.5rem;
  font-weight: 400;
  width: auto !important;
  margin: 0.5rem auto 0;
}


/* Color scheme ============= */

.color-scheme_third {
  .content-form {
    border: 2px solid $red;
  }

  .content-image {
    background: $red url('../../images/third-scheme.svg') no-repeat bottom center;
  }

  .custom-button {
    background: $red;
  }

    .custom-button:not(.custom-button_text):focus {
    background: $white;
    border: 2px solid $red;
    color: $red;
  }

  .custom-button:not(.custom-button_text):active {
    background: $light-red;
    color: $white;
  }

  .custom-button_text {
    background: none;
    height: 1.5em;
  }

  .radio-form:checked + label:after,
  .radio-form:not(:checked) + label:after {
    background: $light-red;
  }

  .custom-input {
    border: 2px solid $light-red;
    background: $light-red;
  }

  .custom-input:focus {
    border: 2px solid $red;
  }

  input[type=checkbox]:checked + label:before {
    color: $light-red;
  }
}
